/* === Mainsite === */
	#body {
		background-color: #699A33;
	}

	#header {
		background-color: #284D00;
		color: white;
		position: relative;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 20%;
		width: 100%;
		text-align: center;
}

	#main {
		position: relative;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 80%;
		width: 100%;
		background-color: #699A33;
	}

	#venstre {
		position: relative;
		top: 50%;
		left: 5%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 10%;
	}

	#btnV {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		height: 100%;
		width: 100%;
		color: white;
		background-color: grey;
		font-size: 500%;
	}

	#hoved {
		position: relative;
		top: -50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 80%;
		background-color: lightgrey;
	}

	#hoyre{
		position: relative;
		top: -150%;
		left: 95%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 10%;
	}

	#btnH {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		height: 100%;
		width: 100%;
		color: white;
		background-color: grey;
		font-size: 500%;
	}

	#footer {
		position: relative;
		top: 99%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 5%;
		width: 100%;
		background-color: #284D00;
		text-align: center;
		color: white;
	}

	nav {
    width: auto;
    height: auto;
    background: #284D00;
    border: 0px solid green;
    text-align: center;
}

	nav ul li {
    display: inline-block;
}

	nav ul li a {
	  display: block;
	  margin-right: 10px;
	  width: 100px;
	  font-size: 18px;
	  line-height: 44px;
	  text-align: center;
	  text-decoration: none;
	  color: white;
	}

	h1 img {
		float: left;
		margin: 0 5px 0 0;
	}

		#logo2 {
		float: right;
	}

* {
box-sizing:border-box
}
.mySlides {
display:none
}
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: lightgreen;
  font-size: 50px;
  transition: 0.2s ease;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  background-color: white;
}
.zoom {
  animation-name: zoom;
  animation-duration: 1.5s;
}
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 11px};
}

/* Smartphones (portrait and landscape) ----------- */
@media only all
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only all
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only all
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only all
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
