html{
	background-color: #111C15;

}

header h1 a {
	text-decoration: none;
	font-family: "Freestyle Script";
	font-size: 50px;
	color: #C2006E;
	padding: 10px;
}

header h1 img {
  float: left;
  width: 100px;
  height: 80px;
position: absolute;
}

li{
	display: inline-block;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2C8437;
}
li a{
  display: inline-block;
  text-align: center;
  padding: 10px 50px;
}
li a:hover {
  width: auto;
  background-color: #346145;
}
.header, nav{
  background-color: #111C15;
  text-align: center;
  width: 100%;
  float: left;
}
.body{
  width: 100%;
  float: left;
  height: 100%;
  background-color: #42BA36;
  padding: 15px;

}
.text{
  background-color: grey;
}
.txtInf{
 border: solid black;
 background-color: #22AB55;
}
.footer{
  background-color: #111C15;
  color: white;
  text-align: center;
  width: 100%;
  float: left;
}
/* Responsiv */
*{  /*Gir alle html elementer box */
  box-sizing: border-box;
}

/* slideshow */
.mySlides {
display:none
}
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 30px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0;
   color: #D5E3DA;
  font-size: 50px;
  transition: 0.2s ease;
}
.next {
  right: 0;
}
.prev{
  left: 0;
}
.prev:hover, .next:hover {
  background-color: white;
}

/*mobil og andre mindre skjermer*/
@media all and (max-width: 500px) {
	.header {
		font-size: 200%;
	}
	
	.body {
		font-size: 200%;
	}
}

/*større skjermer*/
@media all and (min-width: 500px) {
	
}
