/* === Mainsite === */
  #body {
    background-color: #00AA00;
  }
  
  #header {
    background-color: green;
    color: pink;
  }
	
	#main {
		position: fixed;
		height: 100%;
		width: 100%;
	}

  #btnV {
    position: relative;
    top: 50%;
    left: 50%;
		transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
  }

  #btnH {
    position: relative;
    top: 50%;
    left: 50%;
		transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
  }
