/*mobil og andre mindre skjermer*/
@media all and (max-width: 800px) {
	.bilder {
		float: top;
	}
	
	.txtInf {
		float: bottom;
	}
}

/*større skjermer*/
@media all and (min-width: 800px) {
	.bilder {
		float: left;
	}
	
	.txtInf {
		float: right;
	}
}

li{
  float: left;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
}
li a{
  display: inline-block;
  text-align: center;
  padding: 10px 50px;
}
li a:hover {
  width: auto;
  background-color: lime;
}
.header, nav{
  background-color: green;
  text-align: center;
  width: 100%;
  float: left;
}
.body{
  width: 100%;
  float: left;
  height: 100%;
  background-color: lightblue;

}
.text{
  background-color: grey;
}
.footer{
  background-color: lightpink;
  text-align: center;
  width: 100%;
  float: left;
}
/* Responsiv */
*{  /*Gir alle html elementer box */
  box-sizing: border-box;
}

/* slideshow */
.mySlides {
display:none
}
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 30px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-size: 50px;
  transition: 0.2s ease;
}
.next {
  right: 0;
}
.prev{
  left: 0;
}
.prev:hover, .next:hover {
  background-color: white;
}
